---
title: Jquery mobile page
---
<ul>
  <li><%= link_to "pick", "pick.html"%></li>
  <li><%= link_to "pick_coupon", "pick_coupon.html"%></li>
  <li><%= link_to "micropower", "micropower.html"%></li>
  <li><%= link_to "tileflip", "tileflip.html"%></li>
  <li><%= link_to "tilescratch", "tilescratch.html"%></li>
  <li><%= link_to "pirate", "pirate.html"%></li>
</ul>
