---
title: Messenger
---
<% content_for :assets do %>
  <%= stylesheet_link_tag "messenger" %>
  <%= javascript_include_tag  "underscore" %>
  <%= javascript_include_tag  "backbone" %>
  <%= javascript_include_tag  "node" %>
  <%= javascript_include_tag  "environment_messenger" %>
  <%= javascript_include_tag  "messenger" %>
<% end %>
<div class="notification_template">
</div>