---
title: Messenger
---
<%
	require 'lib/aws_direct_helper'
%>
<% content_for :assets do %>
<script type="text/javascript">
  	var AWS_SIGNING_INFO = <%=::AwsDirectHelper.new.generate_form_values.to_json %>;
</script>
  <%= stylesheet_link_tag "messenger" %>
  <%= javascript_include_tag  "underscore" %>
  <%= javascript_include_tag  "backbone" %>
  <%= javascript_include_tag  "node" %>
  <%= javascript_include_tag  "environment_messenger" %>
  <%= javascript_include_tag  "messenger" %>
<% end %>
<div class="notification_template">
</div>