---
title: Pick a Box
---
-content_for :assets do
  = stylesheet_link_tag "pickabox"
  = javascript_include_tag  "underscore"
  = javascript_include_tag  "node"
  = javascript_include_tag  "pickabox"
.html_before
%div{data:{role:"navbar"},style:"margin-left: -15px; margin-right: -15px;"}
  %ul
    %li
      %a.ui-btn-active{href:"#"} Pick a box
    %li
      %a{href:"#"} Coupons (5)
%div{class: "grid4", style: "margin: 0 auto;"}
  -(4**2).times.each do |cell|
    .panel{class: "box#{cell+1}", data: {box: cell}}
      .front
        .boxicon
        .openicon
      .back
        .info HTML IS LOADED INTO HERE
        .buttonbar
          %a{href:"#", data:{role:"button"}} CLOSE
.html_after
-# %div.ui-grid-c
  -# -4.times.each do
    -# -('a'..'d').each do |letter|
      -# .panel{class: "ui-block-#{letter}"}
