---
title: Pick a Box
---
-content_for :assets do
  = stylesheet_link_tag "pickabox"
  = javascript_include_tag  "pickabox"
%p Page content
%div{data:{role:"navbar"},style:"margin-left: -15px; margin-right: -15px;"}
  %ul
    %li
      %a.ui-btn-active{href:"#"} Pick a box
    %li
      %a{href:"#"} Coupons (5)
-4.times.each do |count|
  %div{class: "grid#{count+1}"}
    -((count+1)**2).times.each do |cell|
      .panel{class: "box#{cell+1}"}
        .front FRONT
        .back BACK
-# %div.ui-grid-c
  -# -4.times.each do
    -# -('a'..'d').each do |letter|
      -# .panel{class: "ui-block-#{letter}"}
