---
title: Tile scratch
---
-content_for :assets do
  = stylesheet_link_tag "tilescratch_coupon"
  = javascript_include_tag  "underscore"
  = javascript_include_tag  "node"
  = javascript_include_tag  "environment_tilescratch"
  = javascript_include_tag  "tilescratch_coupon"

.tilescratchcontainer
  .html_before
  %div{data:{role:"navbar"},style:"margin-left: -15px; margin-right: -15px;"}
    %ul
      %li
        %a.tile-flip-btn.ui-btn-active{data:{panel:"tilescratch"},href:"#"} Tile scratch
      %li
        %a{href:"#"}
          Coupons
  .panels
    %canvas#scratchcanvas
    .tilescratch
      .grid.grid4x3
        -(4*3).times.each do |cell|
          .panel.flipped{class: "box#{cell+1}", data: {box: cell}}
            .front
              .tileicon
            .back
              .info
        .game_over
    .coupons{style: "display: none;"}
  .html_after
